* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: black;
}

header h1, h2, nav {
  text-align: center;
  padding: 5px;
}


button{
  padding: 5px;
  margin-left: 25%;
  margin-top: 5px;
  background-color: black;
  color: #E5DADA;
}
form{
 
  line-height: 200%;
  
}
label,input,textarea{
  padding: 5px;
  margin: 10px 5px;
}
.header h1 {
  
  background-color: #002462;
  color: #E5DADA;
}

header>div h2 {

  
  background-color: #840032;
  color: #E5DADA;
}

h3 {
  padding: 5px 0;
}



nav a {
  display: inline-block;
  margin-right: 7px;
}

/* this is for modifying the color  of my navigation hyperlinks */
nav a {
  padding: 5px;
  text-decoration: none;
  background: linear-gradient(to bottom, #E59500 5%, #FF7500 100%);
}
nav a:hover {
  background: linear-gradient(to bottom, #FF7500 5%, #E59500 100%);
}
.section{
  display: flex;
  justify-content: center;
}

.content h2 {
 
  padding-bottom: 10px;
  border: none;
}

table, thead, th, td, tr {
  border: 1px solid black;
}

/*these four are for spacing purposes such as padding around table cells and spacing out lines in list */
th, td {
  padding: 7px;
}

table {
  margin-left: 5%;
}

/*padding for my description lists*/
dt, dd {
  padding-bottom: 10px;
}

dd {
  padding-left: 2%;
}

nav {
  background-color: #02040F;
}



/*this is for the positioning of the divs within container div*/


.container {
  display: grid;
  grid-template-columns: auto auto;
}

/* these are for adding color to my seperate divs*/
#one {
  background-color: #002462;
  color: #FF7500;
}

#two{
  background-color: #840032;
  color: #E5DADA;
}
#examples{
  display: none;
}
.examples{
  margin-left: 5%;

}
.examples dt{
  text-decoration: underline;
}
.examples dd{
  border-left: 2px solid #FF7500;
}
